

.fa-brands{
    color:black;
    padding-left:10px;

}

.fa-solid{
    color:black;
    padding-left:10px;

}

.fa-angle-up{
    font-size:30px;
    position:relative;
    left:50%;
}

.flex{
    display:flex;
    justify-content: center; /*Y-axis*/
    align-items: center; /*X-axis*/
    height:100vh;
}


/*For typewriter effect; Used from: https://codepen.io/denic/pen/GRoOxbM*/
.wrapper {
    zoom:0.8;
    height: 100vh;
    display:flex;

    /*This part is important for centering*/
    row-gap:50px;
    place-items: center;
    justify-content: center;
}

.typing-demo {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}


#main{
    /*Green Potted Plant on White Ceramic Vase used with permission from Andreea Ch (https://www.pexels.com/@andreea-ch-371539/)*/
    background-image: linear-gradient(rgba(255,255,255,),rgba(255,255,255,0.25)), url("/images/main.jpg");
}

#about{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100vh;

    /*Blue Headphones used with permission from Moose Studios (https://www.pexels.com/photo/blue-headphone-1037992/)*/
    background-image: linear-gradient(rgba(255,255,255,0.25),rgba(255,255,255,0.25)), url("/images/about.jpg");
}

#contact{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100vh;

    /*Classic Blue Coupe Die-cast Model used with permission from Moose Studios (https://www.pexels.com/photo/classic-blue-coupe-die-cast-model-1037995/) */
    background-image: linear-gradient(rgba(255,255,255,0.25),rgba(255,255,255,0.25)), url("/images/contact.jpg");
}

.lead{
    width:75vw;
    text-align:center;
}


section {
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-size: cover; /* Add this line */
    background-position: center center; /* Add this line */
    background-repeat: no-repeat; /* Add this line */
    background-attachment: fixed; /* Add this line */
}